

<!-- 
<div class="contenedor-rectangulos">
    <div class="rectangulo"></div>
    <div class="rectangulo"></div>
    <div class="rectangulo"></div>
  </div> -->
  <header>
    <div class="navbar">
  
        <h1 routerLink="" >ownsyle</h1>
        <h1 routerLink="admin" >adminin</h1>
        <h1 routerLink="/login" >log</h1>
  
        <div class="itemsNav">
  
          <li>Inicio</li>
          <li>Hombre</li>
          <li>Mujer</li>
          <li>Ayuda</li>
  
        </div>
  
        <div class="icons">

          <mat-icon class="mat-icon-xl">shopping_cart</mat-icon>
          <mat-icon class="mat-icon-xl" routerLink="home" >home</mat-icon>
          <mat-icon class="mat-icon-xl" >favorite_border</mat-icon>
          <mat-icon class="mat-icon-xl" routerLink="/login" >person</mat-icon>
          
        </div>  
      </div>      
  </header>

  <app-product-list></app-product-list>
