.contenedor-rectangulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    background-color: rgb(156, 156, 156);
  }
  .button {
    margin-left: auto;
    padding: 5px 10px;
    background-color: gray;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: purple;
    }
  }
  .rectangulo {
    margin-top: 50px;
    width: 450px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1); /* Cambiado a rgba para permitir transparencia */
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px;
    padding: 20px;
    text-align: center;
    
  }
  

  
  
  .rectangulo img {
    max-width: 100%;    
    height: auto;
  }
  