.contenedorbig {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  
  
  
  /* Estilos para el contenedor del formulario */
  .contenedor {
    height: 500px;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  /* Estilos para el título del formulario */
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para los campos de entrada */
  .input-field {
    position: relative;
    height: 100px;
  }
  
  .input-container {
    position: relative;
  }
  
  .input-container input {
    width: calc(100% - 35px);
    padding: 8px;
    padding-left: 35px; /* Ajusta el padding izquierdo para dar espacio al ícono */
    margin-bottom: 10px;
  }
  
  .input-container .fa {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }
  
  /* Estilos para el icono "eye slash" */
  .toggle-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px; /* Ajusta la posición del ícono "eye slash" */
    cursor: pointer;
  }
  
  /* Estilos para el enlace de "Olvidaste tu contraseña?" */
  .asd2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* Estilos para el botón de iniciar sesión */
  .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para el texto "No tienes cuenta?" */
  .text-center {
    text-align: center;
    margin-top: 10px;
  }
  
  .text-center a {
    color: #007bff;
    text-decoration: none;
  }
  
  .text-center a:hover {
    text-decoration: underline;
  }
  