<mat-dialog-content>
  <div class="contenedor">
    <h2 class="titulo">PRODUCTO</h2>
  <form [formGroup]="crearProductoForm">
    <div class="input-field">
      <div class="input-container">
        <input class="input" formControlName="nombre" placeholder="Nombre" required>
      </div>
    </div>
    <div class="input-field">
      <div class="input-container">
        <input class="input" formControlName="descripcion" placeholder="Descripcion" required>
      </div>
    </div>
    <div class="input-field">
      <div class="input-container">
        <input class="input" formControlName="precio" placeholder="Precio" required>
      </div>
    </div>
    <div class="input-field">
      <div class="input-container">
        <input class="input" type="file" (change)="onFileSelected($event)" required>
      </div>
    </div>    
  </form>  
</div>
<mat-dialog-actions>
  <button type="submit" (click)="crear()" class="btn">CREAR</button>
  <button type="button" (click)="cancelar()" class="btn">CANCELAR</button>
</mat-dialog-actions>
</mat-dialog-content>







