mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    
  }
  
  .contenedor {    
    width: 100%;
    max-width: 500px;
  }
  
  .titulo {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .input-field {
    margin: 0;
    margin-bottom: 15px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  
  .btn {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
  }
  
  .btn[type="submit"] {
    background-color: #28a745;
  }
  
  .btn[type="button"] {
    background-color: #dc3545;
  }
  
  .btn[type="submit"]:hover {
    background-color: #218838;
  }
  
  .btn[type="button"]:hover {
    background-color: #c82333;
  }
  