<mat-dialog-content>
    <div class="contenedor">
      <h2 class="titulo">ADMINISTRADORES</h2>
    <form [formGroup]="editarAdministrador">
      <div class="input-field">
        <div class="input-container">
          <input class="input" formControlName="nombre" placeholder="Nombre" required>
        </div>
      </div>
      <div class="input-field">
        <div class="input-container">
          <input class="input" formControlName="apellido" placeholder="Apellido" required>
        </div>
      </div>
      <div class="input-field">
        <div class="input-container">
          <input class="input" formControlName="email" placeholder="Email" required>
        </div>
      </div>
      <div class="input-field">
        <div class="input-container">
          <input class="input" formControlName="password" placeholder="Password" required>
        </div>
      </div>               
    </form>  
  </div>
  <mat-dialog-actions>
    <button type="submit" (click)="editarAdministradores()" class="btn">EDITAR</button>
    <button type="button" (click)="cancelar()" class="btn">CANCELAR</button>
  </mat-dialog-actions>
  </mat-dialog-content>
  
  
  
  
  
  
  
  
