<header>
    <div class="navbar">
  
        <h1 routerLink="/index" >ownsyle</h1>
  
        <div class="itemsNav">
  
          <li>Inicio</li>
          <li>Hombre</li>
          <li>Mujer</li>
          <li>Ayuda</li>
  
        </div>
  
        <div class="icons">

          <mat-icon class="mat-icon-xl">shopping_cart</mat-icon>
          <mat-icon class="mat-icon-xl" routerLink="/index" >home</mat-icon>
          <mat-icon class="mat-icon-xl" >favorite_border</mat-icon>
          <mat-icon class="mat-icon-xl" routerLink="/login" >person</mat-icon>
          
        </div>
  
      </div>
      
  </header>
