<header>
    <div class="navbar">          
        <div routerLink="" class="imglogo"></div>  
        <!-- <h1 routerLink="admin" >dashboard</h1>
        <h1 routerLink="/login" >log</h1> -->
  
        <div class="itemsNav">
  
          <li>Inicio</li>
          <li>Hombre</li>
          <li>Mujer</li>
          <li>Ayuda</li>
  
        </div>  
        <div class="icons">
          <div class="cart-icon">            
            <mat-icon routerLink="/carrito" class="mat-icon-xl">shopping_cart</mat-icon>
            <span class="cart-count">{{ cartCount }}</span>
          </div>
          
          <mat-icon class="mat-icon-xl" routerLink="" >home</mat-icon>
          <mat-icon class="mat-icon-xl" >favorite_border</mat-icon>
          <mat-icon class="mat-icon-xl" (click)="redirectToProfile()">person</mat-icon>
          <mat-icon class="mat-icon-xl" (click)="logout()">logout</mat-icon> <!-- Nuevo icono de logout -->

          
        </div>  
      </div>
      
  </header>
