.contenedorbig {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor {
  width: 400px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-field {
  margin-bottom: 15px;
}

.input-container {
  position: relative;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input-container .fa {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #888;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #0056b3;
}

.text-center {
  text-align: center;
  margin-top: 10px;
}

.text-center a {
  color: #007bff;
  text-decoration: none;
}

.text-center a:hover {
  text-decoration: underline;
}
