<div class="container">

    <div class="left">
        <ul>Redes Sociales</ul>
        <hr class="decoracion"> 
        <div class="redes">
        <a  href="#" target="_blank" >Facebook</a>
        <a  href="#" target="_blank" >Instagram</a>
        <a  href="#" target="_blank">PedidosYa</a>
    </div>
    </div>

    <div class="mid">
        <ul>Atención</ul>
        <hr class="decoracion"> 
        <p class="p">Abierto de lunes a sábados.
        </p>
        <p class="p">
            WhatsApp - 3512836055
        </p>
        <div class="mediosdepago">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" class="footer-payship-img card-img ls-is-cached lazyloaded" alt="ar_tarjeta-naranja" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="footer-payship-img card-img ls-is-cached lazyloaded" alt="mercadopago" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="footer-payship-img card-img ls-is-cached lazyloaded" alt="mastercard" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="footer-payship-img card-img ls-is-cached lazyloaded" alt="visa" width="40" height="25">
        </div>
    </div>
    
    <div class="right">        
        <ul>Horarios</ul>
        <hr class="decoracion"> 
        <div class="p">
            <p>Lunes a Sábados.
               
            </p>
            
            <p>
                Abre 10:00 a.m - Cierra 20:00 p.m.
            </p>
           
         
    </div>
    </div>
    
    <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d108977.23912069447!2d-64.27678487688343!3d-31.39928021116389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432985f478f5b69%3A0xb0a24f9a5366b092!2zQ8OzcmRvYmE!5e0!3m2!1ses-419!2sar!4v1716681480378!5m2!1ses-419!2sar" width="400" height="340" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>

    <hr class="decoracion"> 

<div class="ref">
    <p>© Copyright - 2016 - 2024 www.ownstyle.com. TODOS LOS DERECHOS RESERVADOS. Las fotos contenidas en este site, el logotipo y las marcas son propiedad de www.ownstyle.com y/o de sus respectivos titulares. Está prohibida la reproducción total o parcial, sin la expresa autorización de la administradora de la tienda virtual. 
       OwnStyle-SHOP, con domicilio en Av. Bulnes al 5000X, M5500 Córdoba - Ciudad de Córdoba - Argentina.</p>
</div>

