<mat-dialog-content>
    <div class="contenedor">
      <h2 class="titulo">CLIENTE</h2>
    <form [formGroup]="editarCliente">
      <div class="input-field">
        <div class="input-container">
          <input class="input" formControlName="nombre" placeholder="Nombre" required>
        </div>
      </div>
      <div class="input-field">
        <div class="input-container">
          <input class="input" formControlName="apellido" placeholder="Apellido" required>
        </div>
      </div>
      <div class="input-field">
        <div class="input-container">
          <input class="input" formControlName="dni" placeholder="DNI" required>
        </div>
      </div>
      <div class="input-field">
        <div class="input-container">
          <input class="input" formControlName="telefono" placeholder="Telefono" required>
        </div>
      </div>
      <div class="input-field">
        <div class="input-container">
          <input class="input" formControlName="direccion" placeholder="Direccion" required>
        </div>
      </div>
      <div class="input-field">
        <div class="input-container">
          <input class="input" formControlName="email" placeholder="Email" required>
        </div>
      </div> 
   
      <div class="input-field">
        <div class="input-container">
          <input class="input" formControlName="password" placeholder="Password" required>
        </div>
      </div>            
    </form>  
  </div>
  <mat-dialog-actions>
    <button type="submit" (click)="editarClientes()" class="btn">EDITAR</button>
    <button type="button" (click)="cancelar()" class="btn">CANCELAR</button>
  </mat-dialog-actions>
  </mat-dialog-content>
  
  
  
  
  
  
  
  

