/* product-details.component.scss */
.product-details-container {
    max-width: 30em;
    margin: 3em auto;
    padding: 16px;
    text-align: center;
    background-color: rgb(189, 189, 189);
    border-radius: 15px;
  }
  
  .product-details-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .button {
    margin-left: auto;
    padding: 5px 10px;
    background-color: gray;
    border: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: purple;
    }
  }
  